In [3]:
import os
import pandas as pd

In [2]:
esm_features_path = r"C:\Users\gavvi\Desktop\Programming\GitHub\DeepLearningResearchStarship\Research Projects\Project 5 Building Model for Research Pipeline\datasets\esm_features.csv"
custom_sequence_features_path = r"C:\Users\gavvi\Desktop\Programming\GitHub\DeepLearningResearchStarship\Research Projects\Project 5 Building Model for Research Pipeline\datasets\custom_sequence_features.csv"

In [6]:
esm_features_df = pd.read_csv(esm_features_path)
custom_features_df = pd.read_csv(custom_sequence_features_path)

In [8]:
esm_features_df.head()

,UniProt_ID,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,...,Feature_1270,Feature_1271,Feature_1272,Feature_1273,Feature_1274,Feature_1275,Feature_1276,Feature_1277,Feature_1278,Feature_1279
0,P62942,-0.026952,-0.074381,-0.016920,-0.019834,-0.090881,-0.031264,0.065873,-0.187179,-0.018937,...,-0.018206,-0.069835,-0.072698,-0.030787,-0.012625,-0.007614,0.113761,-0.150559,-0.016927,0.137180
1,P20701,0.040105,-0.070884,-0.070652,0.082903,-0.069309,-0.074540,0.070683,0.027845,0.027884,...,0.013739,0.025413,-0.184884,0.035220,-0.037794,-0.026719,0.093608,-0.122195,-0.045078,0.117260
2,Q86Y26,0.054524,-0.115523,0.026532,0.095069,0.008715,-0.072173,0.086560,0.138818,0.154544,...,0.006488,0.084088,-0.214137,-0.006725,-0.007800,0.000843,-0.025581,-0.060492,0.154156,0.018686
3,P11474,-0.054691,-0.002792,0.067359,0.016837,-0.025287,-0.014902,0.017887,0.019004,0.087045,...,0.065262,0.028130,-0.122820,0.013742,-0.011002,-0.110906,0.023230,-0.066437,0.032996,0.082307
4,P69718,0.037008,-0.051344,-0.056333,0.178936,-0.123832,-0.081923,0.230527,-0.090900,-0.067449,...,0.096199,-0.035039,-0.081925,0.153083,0.089522,-0.109143,0.002961,-0.155136,0.071515,0.062912

In [9]:
custom_features_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4691,4692,4693,4694,4695,4696,4697,4698,4699,4700
0,441.0,0.054422,0.029478,0.083900,0.047619,0.031746,0.056689,0.034014,0.061224,0.072562,...,-239.0,-960.0,-559.0,-490.0,166.88,-100.24,-46.57,-77.74,97.28,O75530
1,115.0,0.095652,0.026087,0.034783,0.026087,0.034783,0.078261,0.017391,0.052174,0.026087,...,-65.0,-267.0,-139.0,-94.0,-9.69,-67.58,-4.78,-34.60,38.68,P14174
2,782.0,0.066496,0.015345,0.058824,0.076726,0.058824,0.044757,0.016624,0.106138,0.062660,...,-533.0,-1793.0,-824.0,-558.0,-69.90,-224.31,-270.52,-224.78,197.88,P75800
3,505.0,0.053465,0.019802,0.071287,0.069307,0.053465,0.041584,0.027723,0.069307,0.077228,...,-285.0,-1199.0,-583.0,-430.0,29.50,-161.26,-119.02,-129.89,127.17,P37231
4,136.0,0.110294,0.014706,0.029412,0.051471,0.029412,0.051471,0.014706,0.051471,0.095588,...,-57.0,-339.0,-196.0,-120.0,51.70,-53.52,-105.92,2.25,33.80,Q16695

In [10]:
esm_features_df.columns

Index(['UniProt_ID', 'Feature_0', 'Feature_1', 'Feature_2', 'Feature_3',
       'Feature_4', 'Feature_5', 'Feature_6', 'Feature_7', 'Feature_8',
       ...
       'Feature_1270', 'Feature_1271', 'Feature_1272', 'Feature_1273',
       'Feature_1274', 'Feature_1275', 'Feature_1276', 'Feature_1277',
       'Feature_1278', 'Feature_1279'],
      dtype='object', length=1281)

In [11]:
custom_features_df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '4691', '4692', '4693', '4694', '4695', '4696', '4697', '4698', '4699',
       '4700'],
      dtype='object', length=4701)

In [15]:
custom_features_df[['4700']].head()

     4700
0  O75530
1  P14174
2  P75800
3  P37231
4  Q16695

In [16]:
# Convert uniprots column name & make it the first column in the data frame
custom_features_df.rename(columns={'4700': 'UniProt_ID'}, inplace=True)

cols = ['UniProt_ID'] + [col for col in custom_features_df if col != 'UniProt_ID']
custom_features_df = custom_features_df[cols]

In [17]:
custom_features_df.head()

,UniProt_ID,0,1,2,3,4,5,6,7,8,...,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699
0,O75530,441.0,0.054422,0.029478,0.083900,0.047619,0.031746,0.056689,0.034014,0.061224,...,-110.0,-239.0,-960.0,-559.0,-490.0,166.88,-100.24,-46.57,-77.74,97.28
1,P14174,115.0,0.095652,0.026087,0.034783,0.026087,0.034783,0.078261,0.017391,0.052174,...,-30.0,-65.0,-267.0,-139.0,-94.0,-9.69,-67.58,-4.78,-34.60,38.68
2,P75800,782.0,0.066496,0.015345,0.058824,0.076726,0.058824,0.044757,0.016624,0.106138,...,-371.0,-533.0,-1793.0,-824.0,-558.0,-69.90,-224.31,-270.52,-224.78,197.88
3,P37231,505.0,0.053465,0.019802,0.071287,0.069307,0.053465,0.041584,0.027723,0.069307,...,-175.0,-285.0,-1199.0,-583.0,-430.0,29.50,-161.26,-119.02,-129.89,127.17
4,Q16695,136.0,0.110294,0.014706,0.029412,0.051471,0.029412,0.051471,0.014706,0.051471,...,-48.0,-57.0,-339.0,-196.0,-120.0,51.70,-53.52,-105.92,2.25,33.80

In [19]:
custom_features_uniprots = custom_features_df[['UniProt_ID']]
esm_features_uniprots = esm_features_df[['UniProt_ID']]

In [20]:
custom_features_uniprots.shape , esm_features_uniprots.shape

((333, 1), (292, 1))

In [21]:
unique_custom_uniprots = custom_features_uniprots['UniProt_ID'].nunique()
unique_esm_uniprots = esm_features_uniprots['UniProt_ID'].nunique()

print(f"Number of unique UniProt IDs in custom_features_df: {unique_custom_uniprots}")
print(f"Number of unique UniProt IDs in esm_features_df: {unique_esm_uniprots}")

Number of unique UniProt IDs in custom_features_df: 329
Number of unique UniProt IDs in esm_features_df: 292

In [22]:
final_ds_path = r"C:\Users\gavvi\Desktop\Programming\GitHub\DeepLearningResearchStarship\Research Projects\Project 5 Building Model for Research Pipeline\datasets\final_dataset_2_0.75.csv"
final_df = pd.read_csv(final_ds_path)

In [34]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()


# Scale the values of custom_features_df by standard scaler
columns_to_scale = custom_features_df.columns.difference(['UniProt_ID'])
custom_features_df[columns_to_scale] = scaler.fit_transform(custom_features_df[columns_to_scale])

In [35]:
custom_features_df

,UniProt_ID,0,1,2,3,4,5,6,7,8,...,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699
0,O75530,-0.453878,-0.595435,0.318021,2.071079,-1.194795,-0.271327,-0.453332,0.978000,0.985672,...,0.307128,0.408311,0.500234,0.475209,0.340958,-0.126466,0.801008,0.614232,0.530812,-0.482979
1,P14174,-1.040436,1.206415,0.132703,-1.082878,-2.212747,-0.057994,0.482222,-0.653199,0.459969,...,0.806937,1.055104,0.998036,0.985859,0.985808,-0.688051,0.929651,0.898549,0.801996,-0.765637
2,P75800,0.159669,-0.067760,-0.454246,0.460846,0.181283,1.630987,-0.970835,-0.728493,3.594479,...,-1.323500,-0.684545,-0.098135,0.153013,0.230227,-0.879550,0.312314,-0.909406,-0.393500,0.002266
3,P37231,-0.338725,-0.637232,-0.210722,1.261162,-0.169477,1.254551,-1.108442,0.360661,1.455141,...,-0.098967,0.237320,0.328553,0.446029,0.438663,-0.563406,0.560659,0.121320,0.202990,-0.338804
4,Q16695,-1.002652,1.846296,-0.489184,-1.427753,-1.012709,-0.435320,-0.679669,-0.916728,0.419117,...,0.694480,1.084841,0.946316,0.916557,0.943469,-0.492799,0.985032,0.210446,1.033640,-0.789176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,P26010,0.188458,0.038267,2.473317,-0.097687,-0.246904,-0.476750,0.892433,0.960433,-1.042000,...,-0.323882,-0.402038,-0.180743,-0.250644,-0.246897,0.367532,-0.819595,0.765677,-0.296505,-0.369482
329,P15923,-0.070636,0.968759,-1.125643,-0.370831,-0.626821,-0.782864,2.857446,1.241355,-1.948847,...,1.581641,0.021723,0.009614,-0.115687,-0.316918,0.586097,-0.754840,1.106599,-0.076177,0.353707
330,P02638,-1.081819,-0.598666,-0.104872,1.569371,4.775888,2.843819,-1.026295,2.973462,-0.045117,...,0.769451,1.047669,1.032516,1.027198,1.010234,-0.539457,1.081809,0.807450,0.931427,-0.909136
331,O14649,-0.538443,0.797462,0.094112,-1.523620,-1.406206,1.421209,1.270940,0.130827,0.083077,...,0.213413,0.609040,0.597926,0.655152,0.617788,-0.703126,0.176818,0.119823,0.472037,-0.732837
332,Q9TUN4,0.613083,0.618748,-0.288682,-0.521810,-0.885630,-0.191520,1.114662,-0.082110,-1.053826,...,-1.542167,-1.093437,-0.484596,-0.454905,-0.295749,-0.876019,-1.442367,-0.397445,-0.940142,0.636268

In [36]:
combined_uniprots = pd.concat([final_df['uniprot_id1'], final_df['uniprot_id2']])
unique_uniprots = combined_uniprots.nunique()

print(f"Number of unique UniProt IDs in both in final_dataset_2_0.75: {unique_uniprots}")

Number of unique UniProt IDs in both in final_dataset_2_0.75: 296

In [37]:
merged_uniprots = pd.merge(custom_features_df, esm_features_df, on='UniProt_ID', how='inner')

In [38]:
merged_uniprots

,UniProt_ID,0,1,2,3,4,5,6,7,8,...,Feature_1270,Feature_1271,Feature_1272,Feature_1273,Feature_1274,Feature_1275,Feature_1276,Feature_1277,Feature_1278,Feature_1279
0,P14174,-1.040436,1.206415,0.132703,-1.082878,-2.212747,-0.057994,0.482222,-0.653199,0.459969,...,-0.010762,-0.033176,-0.073871,0.004165,-0.103862,-0.157742,0.058716,-0.256234,0.041307,0.271154
1,P37231,-0.338725,-0.637232,-0.210722,1.261162,-0.169477,1.254551,-1.108442,0.360661,1.455141,...,0.165916,-0.012356,-0.065871,0.014489,-0.007686,0.035356,0.059386,-0.125862,-0.010405,0.054104
2,Q16695,-1.002652,1.846296,-0.489184,-1.427753,-1.012709,-0.435320,-0.679669,-0.916728,0.419117,...,-0.035942,-0.026035,-0.054414,0.070876,-0.015936,-0.007212,0.048198,-0.026821,-0.056041,0.014025
3,Q86Y26,0.789410,0.462159,-0.375606,-0.650291,0.521478,-1.260382,1.455696,-0.626062,-1.339068,...,0.006488,0.084088,-0.214137,-0.006725,-0.007800,0.000843,-0.025581,-0.060492,0.154156,0.018686
4,Q14469,-0.743559,1.708580,-0.512142,-1.481713,-1.588762,-0.494357,0.495691,0.093466,-0.703534,...,0.066455,0.039238,-0.027734,0.030386,0.044697,-0.117412,-0.006467,-0.168831,0.075904,0.001849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,P55211,-0.498859,-0.452506,0.414822,0.851277,-0.377638,1.213752,0.319948,-0.472687,0.082368,...,0.043917,-0.001569,-0.148864,0.039806,0.040114,-0.010727,0.021398,-0.146126,0.100370,0.048442
291,P26010,0.188458,0.038267,2.473317,-0.097687,-0.246904,-0.476750,0.892433,0.960433,-1.042000,...,-0.035412,0.052223,-0.199088,0.039508,-0.027858,-0.104056,0.072464,-0.095414,0.010231,0.057766
292,P15923,-0.070636,0.968759,-1.125643,-0.370831,-0.626821,-0.782864,2.857446,1.241355,-1.948847,...,0.014805,-0.041455,-0.208685,0.034112,0.034004,-0.212104,-0.071223,-0.126303,0.241376,0.038500
293,P02638,-1.081819,-0.598666,-0.104872,1.569371,4.775888,2.843819,-1.026295,2.973462,-0.045117,...,0.054455,-0.045853,-0.058484,0.095411,-0.018828,-0.062786,-0.035898,-0.173448,0.000611,0.146033
294,Q9TUN4,0.613083,0.618748,-0.288682,-0.521810,-0.885630,-0.191520,1.114662,-0.082110,-1.053826,...,-0.033706,-0.006692,-0.192272,0.034688,-0.037044,-0.079781,0.127673,-0.110980,-0.013643,0.108175

In [39]:
merged_uniprots.isnull().sum().sum()

0

In [40]:
custom_features_df[custom_features_df['UniProt_ID'] == 'Q16695']

,UniProt_ID,0,1,2,3,4,5,6,7,8,...,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699
4,Q16695,-1.002652,1.846296,-0.489184,-1.427753,-1.012709,-0.43532,-0.679669,-0.916728,0.419117,...,0.69448,1.084841,0.946316,0.916557,0.943469,-0.492799,0.985032,0.210446,1.03364,-0.789176

In [41]:
esm_features_df[esm_features_df['UniProt_ID'] == 'Q16695']

,UniProt_ID,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,...,Feature_1270,Feature_1271,Feature_1272,Feature_1273,Feature_1274,Feature_1275,Feature_1276,Feature_1277,Feature_1278,Feature_1279
232,Q16695,-0.023016,-0.029751,-0.062743,-0.002037,-0.014939,0.023919,0.000541,-0.140699,-0.060165,...,-0.035942,-0.026035,-0.054414,0.070876,-0.015936,-0.007212,0.048198,-0.026821,-0.056041,0.014025